#header-ban{
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #1d4851;
    background: url(/app/images/logo-right.gif) repeat-x 0 0;
    height: 83px;
}

#header-ban-left{
    background: transparent url(/app/images/logo-left.png) no-repeat 0 0;
    position: relative;
    top: 0px;
    left: 0px;
    width: 543px;
    height: 83px;
}

#main-tabs{
    margin-top: 5px;
}

.nav-link{
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: #89a3a8;
    border-left: 1px solid #333333!important; 
    border-top: 1px solid #333333!important; 
    border-right: 1px solid #333333!important; 
    border-bottom: 1px solid #333333!important; 
    font-weight: bold;
    color: #fff;
    margin-left: 2px;
    margin-right: 2px;
}

.nav-link:hover {
    color: #fff;
}

.nav-link.active{
    background-color: #e6e9e9 !important; 
    border-color: #333333 #333333 #e6e9e9 !important; 
    font-weight:700 !important; 
    margin-left: 2px;
    margin-right: 2px;
}

.card-header{
    border-bottom: 1px solid #333333 !important; 
}

#content-tab{
    background-color: #fff;
    border: 1px #1993AE solid;
    height: 74vh;
}


/* BUBBLE CHARTS */
.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}

#loading {
    background: url(/app/images/loading.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}